#wrapper
{
	height: 600px;
	width: 300px;
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

div.block
{
	/* TODO 
	height
	width
			*/
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
	vertical-align: top;
	height: 30px;
	width: 30px;
}

div.activeBlock
{
	/* background-color: aqua; */
	border: 1px solid black;
	box-sizing: border-box;
}

div.inactiveBlock
{
	background-color: gray;
}

.tetrominoI{
	background-color: cyan;
}

.tetrominoL{
	background-color: orange;
}

.tetrominoJ{
	background-color: blue;
}

.tetrominoZ{
	background-color: red;
}

.tetrominoS{
	background-color: green;
}

.tetrominoO{
	background-color: yellow;
}

.tetrominoT{
	background-color: purple;
}
